body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.half-width {
    width: 50%;
    padding-bottom: 5%;
    padding-left: 5%;
}

.half-width img {
    width: 100%;
    padding-left: 1%;
    padding-bottom: 5%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 10%;
    padding: 10px 30px;
    color: white;
    font-weight: 700;

}